<div class="inner cover">
  <h1 class="cover-heading">Trash various newsletters in your GMail</h1>

  <p class="lead"> ewsletter takes lots of your GMail space, lets clean it up.</p>
  <ul class="features">
    <li>No emails/credentials are saved in the server, so your <strong>privacy</strong> is guaranteed.</li>
    <li>Newsletters will be moved to trash, so everything is <strong>undoable</strong>.</li>
    <li>Everything is <strong>open sourced</strong>, and you can setup your own server on Heroku in minutes.</li>
  </ul>
  <p class="lead">
    <a href="/auth/" class="btn btn-lg btn-default">Get Started</a>
    <a href="https://github.com/cllu/GMailCleaner" class="btn btn-lg btn-default">Fork on GitHub</a>
  </p>
</div>


